/* You can add global styles to this file, and also import other style files */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family:Arial, Helvetica, sans-serif;

}

marquee{
    color:rgb(233, 239, 241);
    font-style: italic;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.box{
    padding: 10px 10px;
    background-color:rgb(239, 234, 234);
}
.box h5{
    font-size:15px;
    font-weight: bold;
}